<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Nicolas Videla Spring Boot</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>
<header>
    <nav>
        <ul>
            <li>
                <a href="/carreras">Carreras</a>
            </li>
            <li>
                <a href="/personas">Personas</a>
            </li>
            <li>
                <a href="/alumnos">Alumnos</a>
            </li>
            <li>
                <a href="/logout">Cerrar Sesion</a>
            </li>
        </ul>

    </nav>
</header>


<main role="main" class="container">

    <div class="starter-template">
        <h1>Spring Boot Web Thymeleaf</h1>
        <h2>
            <span ></span>
        </h2>
        <div>
            <td>Error: </td>
            <td th:text="${error}"/>
        </div>
        <div>
            <td>Status: </td>
            <td th:text="${status}"/>
        </div>
        <div>
            <td>Message: </td>
            <td th:text="${message}"/>
        </div>
    </div>


</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>